@model CCMS.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionId" class="control-label"></label>
                <input asp-for="TransactionId" class="form-control" />
                <span asp-validation-for="TransactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <input asp-for="TransactionType" class="form-control" />
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionCategory" class="control-label"></label>
                <input asp-for="TransactionCategory" class="form-control" />
                <span asp-validation-for="TransactionCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountingHeadId" class="control-label"></label>
                <input asp-for="AccountingHeadId" class="form-control" />
                <span asp-validation-for="AccountingHeadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeFrom" class="control-label"></label>
                <input asp-for="IncomeFrom" class="form-control" />
                <span asp-validation-for="IncomeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseFor" class="control-label"></label>
                <input asp-for="ExpenseFor" class="form-control" />
                <span asp-validation-for="ExpenseFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <input asp-for="TeacherId" class="form-control" />
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDescription" class="control-label"></label>
                <input asp-for="TransactionDescription" class="form-control" />
                <span asp-validation-for="TransactionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionAmount" class="control-label"></label>
                <input asp-for="TransactionAmount" class="form-control" />
                <span asp-validation-for="TransactionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionStatus" class="control-label"></label>
                <input asp-for="TransactionStatus" class="form-control" />
                <span asp-validation-for="TransactionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryBy" class="control-label"></label>
                <input asp-for="EntryBy" class="form-control" />
                <span asp-validation-for="EntryBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
